# Projeto Fifa

### Aqui será feito a limpeza e alguns testesde um banco de dados puxado do Kaggle com dados do jogo fifa

##### Começamos importando as bibliotecas

In [249]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

###### Depois subimos a base de dados.

In [250]:
base = pd.read_csv(r'C:\Users\danii\OneDrive - UNIP\Documents\bkp\ESTUDOS\Projeto.fifa\fifa_cleaned.csv')

###### Chamamos a base de dados para visualizar ela.

In [251]:
base

,id,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,...,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,1987-06-24,31,170.18,72.10,"CF,RW,ST",Argentina,94,...,64+2,61+2,61+2,61+2,64+2,59+2,48+2,48+2,48+2,59+2
1,190460,C. Eriksen,Christian Dannemann Eriksen,1992-02-14,27,154.94,76.20,"CAM,RM,CM",Denmark,88,...,71+3,71+3,71+3,71+3,71+3,66+3,57+3,57+3,57+3,66+3
2,195864,P. Pogba,Paul Pogba,1993-03-15,25,190.50,83.90,"CM,CAM",France,88,...,76+3,77+3,77+3,77+3,76+3,74+3,72+3,72+3,72+3,74+3
3,198219,L. Insigne,Lorenzo Insigne,1991-06-04,27,162.56,59.00,"LW,ST",Italy,88,...,63+3,58+3,58+3,58+3,63+3,58+3,44+3,44+3,44+3,58+3
4,201024,K. Koulibaly,Kalidou Koulibaly,1991-06-20,27,187.96,88.90,CB,Senegal,88,...,73+3,77+3,77+3,77+3,73+3,76+3,85+3,85+3,85+3,76+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,204322,R. McKenzie,Rory McKenzie,1993-10-07,25,175.26,74.80,"RM,CAM,CM",Scotland,67,...,53+2,52+2,52+2,52+2,53+2,50+2,46+2,46+2,46+2,50+2
17950,239762,M. Sipľak,Michal Sipľak,1996-02-02,23,182.88,79.80,LB,Slovakia,59,...,57+2,55+2,55+2,55+2,57+2,57+2,58+2,58+2,58+2,57+2
17951,235155,J. Bekkema,Jan Bekkema,1996-04-09,22,185.42,89.80,GK,Netherlands,59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17952,244883,A. Al Yami,Abdulrahman Al Yami,1997-06-19,21,175.26,64.90,"ST,LM",Saudi Arabia,59,...,41+2,35+2,35+2,35+2,41+2,39+2,32+2,32+2,32+2,39+2
17953,247187,Júnior Brumado,José Francisco dos Santos Júnior,1999-05-15,19,190.50,79.80,ST,Brazil,59,...,41+2,40+2,40+2,40+2,41+2,40+2,40+2,40+2,40+2,40+2

#### Agora vamos criar mais duas colunas utilizando a coluna "full_name", sendo elas a coluna "frist_name" e "last_name".

In [252]:
base[['frist_name', 'middle_name']]=base['full_name'].str.split(' ', expand=True,n = 1)

base[['middle_name1', 'last_name']]=base['full_name'].str.rsplit(' ', expand=True,n = 1)

base

,id,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,...,RWB,LB,LCB,CB,RCB,RB,frist_name,middle_name,middle_name1,last_name
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,1987-06-24,31,170.18,72.10,"CF,RW,ST",Argentina,94,...,64+2,59+2,48+2,48+2,48+2,59+2,Lionel,Andrés Messi Cuccittini,Lionel Andrés Messi,Cuccittini
1,190460,C. Eriksen,Christian Dannemann Eriksen,1992-02-14,27,154.94,76.20,"CAM,RM,CM",Denmark,88,...,71+3,66+3,57+3,57+3,57+3,66+3,Christian,Dannemann Eriksen,Christian Dannemann,Eriksen
2,195864,P. Pogba,Paul Pogba,1993-03-15,25,190.50,83.90,"CM,CAM",France,88,...,76+3,74+3,72+3,72+3,72+3,74+3,Paul,Pogba,Paul,Pogba
3,198219,L. Insigne,Lorenzo Insigne,1991-06-04,27,162.56,59.00,"LW,ST",Italy,88,...,63+3,58+3,44+3,44+3,44+3,58+3,Lorenzo,Insigne,Lorenzo,Insigne
4,201024,K. Koulibaly,Kalidou Koulibaly,1991-06-20,27,187.96,88.90,CB,Senegal,88,...,73+3,76+3,85+3,85+3,85+3,76+3,Kalidou,Koulibaly,Kalidou,Koulibaly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,204322,R. McKenzie,Rory McKenzie,1993-10-07,25,175.26,74.80,"RM,CAM,CM",Scotland,67,...,53+2,50+2,46+2,46+2,46+2,50+2,Rory,McKenzie,Rory,McKenzie
17950,239762,M. Sipľak,Michal Sipľak,1996-02-02,23,182.88,79.80,LB,Slovakia,59,...,57+2,57+2,58+2,58+2,58+2,57+2,Michal,Sipľak,Michal,Sipľak
17951,235155,J. Bekkema,Jan Bekkema,1996-04-09,22,185.42,89.80,GK,Netherlands,59,...,NaN,NaN,NaN,NaN,NaN,NaN,Jan,Bekkema,Jan,Bekkema
17952,244883,A. Al Yami,Abdulrahman Al Yami,1997-06-19,21,175.26,64.90,"ST,LM",Saudi Arabia,59,...,41+2,39+2,32+2,32+2,32+2,39+2,Abdulrahman,Al Yami,Abdulrahman Al,Yami
17953,247187,Júnior Brumado,José Francisco dos Santos Júnior,1999-05-15,19,190.50,79.80,ST,Brazil,59,...,41+2,40+2,40+2,40+2,40+2,40+2,José,Francisco dos Santos Júnior,José Francisco dos Santos,Júnior



#### Por consequencia acabamos criando duas colunas extras, sendo elas "middle_name" e "middle_name1" 

#### Para corrigir isso vamos remover elas da tabela, utilizando o comando drop.

In [253]:
base.drop('middle_name', axis = 1, inplace = True )

base.drop('middle_name1', axis = 1, inplace = True )

#### Chamando a tabela novamente para verificar se o comando anterior funcionou.

In [254]:
base

,id,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,frist_name,last_name
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,1987-06-24,31,170.18,72.10,"CF,RW,ST",Argentina,94,...,61+2,61+2,64+2,59+2,48+2,48+2,48+2,59+2,Lionel,Cuccittini
1,190460,C. Eriksen,Christian Dannemann Eriksen,1992-02-14,27,154.94,76.20,"CAM,RM,CM",Denmark,88,...,71+3,71+3,71+3,66+3,57+3,57+3,57+3,66+3,Christian,Eriksen
2,195864,P. Pogba,Paul Pogba,1993-03-15,25,190.50,83.90,"CM,CAM",France,88,...,77+3,77+3,76+3,74+3,72+3,72+3,72+3,74+3,Paul,Pogba
3,198219,L. Insigne,Lorenzo Insigne,1991-06-04,27,162.56,59.00,"LW,ST",Italy,88,...,58+3,58+3,63+3,58+3,44+3,44+3,44+3,58+3,Lorenzo,Insigne
4,201024,K. Koulibaly,Kalidou Koulibaly,1991-06-20,27,187.96,88.90,CB,Senegal,88,...,77+3,77+3,73+3,76+3,85+3,85+3,85+3,76+3,Kalidou,Koulibaly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,204322,R. McKenzie,Rory McKenzie,1993-10-07,25,175.26,74.80,"RM,CAM,CM",Scotland,67,...,52+2,52+2,53+2,50+2,46+2,46+2,46+2,50+2,Rory,McKenzie
17950,239762,M. Sipľak,Michal Sipľak,1996-02-02,23,182.88,79.80,LB,Slovakia,59,...,55+2,55+2,57+2,57+2,58+2,58+2,58+2,57+2,Michal,Sipľak
17951,235155,J. Bekkema,Jan Bekkema,1996-04-09,22,185.42,89.80,GK,Netherlands,59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jan,Bekkema
17952,244883,A. Al Yami,Abdulrahman Al Yami,1997-06-19,21,175.26,64.90,"ST,LM",Saudi Arabia,59,...,35+2,35+2,41+2,39+2,32+2,32+2,32+2,39+2,Abdulrahman,Yami
17953,247187,Júnior Brumado,José Francisco dos Santos Júnior,1999-05-15,19,190.50,79.80,ST,Brazil,59,...,40+2,40+2,41+2,40+2,40+2,40+2,40+2,40+2,José,Júnior

##### Seguindo para o proximo objetivo, iremos padronizar a data da coluna "birth_date".

##### Para isso vamos verificar o tipo de dado da coluna, corrigir e colocar no padrão dia/mês/ano.

In [255]:
base.dtypes

id             int64
name          object
full_name     object
birth_date    object
age            int64
               ...
CB            object
RCB           object
RB            object
frist_name    object
last_name     object
Length: 94, dtype: object

In [256]:
base['birth_date'] = base['birth_date'].astype('datetime64')

In [257]:
base['birth_date'] = base['birth_date'].dt.strftime('%d/%m/%Y')

In [258]:
base

,id,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,frist_name,last_name
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,24/06/1987,31,170.18,72.10,"CF,RW,ST",Argentina,94,...,61+2,61+2,64+2,59+2,48+2,48+2,48+2,59+2,Lionel,Cuccittini
1,190460,C. Eriksen,Christian Dannemann Eriksen,14/02/1992,27,154.94,76.20,"CAM,RM,CM",Denmark,88,...,71+3,71+3,71+3,66+3,57+3,57+3,57+3,66+3,Christian,Eriksen
2,195864,P. Pogba,Paul Pogba,15/03/1993,25,190.50,83.90,"CM,CAM",France,88,...,77+3,77+3,76+3,74+3,72+3,72+3,72+3,74+3,Paul,Pogba
3,198219,L. Insigne,Lorenzo Insigne,04/06/1991,27,162.56,59.00,"LW,ST",Italy,88,...,58+3,58+3,63+3,58+3,44+3,44+3,44+3,58+3,Lorenzo,Insigne
4,201024,K. Koulibaly,Kalidou Koulibaly,20/06/1991,27,187.96,88.90,CB,Senegal,88,...,77+3,77+3,73+3,76+3,85+3,85+3,85+3,76+3,Kalidou,Koulibaly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,204322,R. McKenzie,Rory McKenzie,07/10/1993,25,175.26,74.80,"RM,CAM,CM",Scotland,67,...,52+2,52+2,53+2,50+2,46+2,46+2,46+2,50+2,Rory,McKenzie
17950,239762,M. Sipľak,Michal Sipľak,02/02/1996,23,182.88,79.80,LB,Slovakia,59,...,55+2,55+2,57+2,57+2,58+2,58+2,58+2,57+2,Michal,Sipľak
17951,235155,J. Bekkema,Jan Bekkema,09/04/1996,22,185.42,89.80,GK,Netherlands,59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jan,Bekkema
17952,244883,A. Al Yami,Abdulrahman Al Yami,19/06/1997,21,175.26,64.90,"ST,LM",Saudi Arabia,59,...,35+2,35+2,41+2,39+2,32+2,32+2,32+2,39+2,Abdulrahman,Yami
17953,247187,Júnior Brumado,José Francisco dos Santos Júnior,15/05/1999,19,190.50,79.80,ST,Brazil,59,...,40+2,40+2,41+2,40+2,40+2,40+2,40+2,40+2,José,Júnior

##### Para limpeza de dados vamos fazer um teste e remover todas as linhas que tiverem dados faltantes, novamente utilizando o comando drop. 

##### Por ser um teste iremos utilizar uma nova variavel, chamada de base2.

In [259]:
base2 = base.dropna()

base2

,id,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,frist_name,last_name
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,24/06/1987,31,170.18,72.10,"CF,RW,ST",Argentina,94,...,61+2,61+2,64+2,59+2,48+2,48+2,48+2,59+2,Lionel,Cuccittini
1,190460,C. Eriksen,Christian Dannemann Eriksen,14/02/1992,27,154.94,76.20,"CAM,RM,CM",Denmark,88,...,71+3,71+3,71+3,66+3,57+3,57+3,57+3,66+3,Christian,Eriksen
2,195864,P. Pogba,Paul Pogba,15/03/1993,25,190.50,83.90,"CM,CAM",France,88,...,77+3,77+3,76+3,74+3,72+3,72+3,72+3,74+3,Paul,Pogba
3,198219,L. Insigne,Lorenzo Insigne,04/06/1991,27,162.56,59.00,"LW,ST",Italy,88,...,58+3,58+3,63+3,58+3,44+3,44+3,44+3,58+3,Lorenzo,Insigne
5,203376,V. van Dijk,Virgil van Dijk,08/07/1991,27,193.04,92.10,CB,Netherlands,88,...,82+3,82+3,78+3,80+3,86+3,86+3,86+3,80+3,Virgil,Dijk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17938,176580,L. Suárez,Luis Alberto Suárez Díaz,24/01/1987,32,182.88,86.20,ST,Uruguay,91,...,68+5,68+5,69+5,66+5,63+5,63+5,63+5,66+5,Luis,Díaz
17940,183277,E. Hazard,Eden Hazard,07/01/1991,28,172.72,76.20,"LW,CF",Belgium,91,...,63+3,63+3,66+3,60+3,49+3,49+3,49+3,60+3,Eden,Hazard
17941,192985,K. De Bruyne,Kevin De Bruyne,28/06/1991,27,154.94,69.90,"CAM,CM",Belgium,91,...,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3,Kevin,Bruyne
17943,190871,Neymar Jr,Neymar da Silva Santos Junior,05/02/1992,27,175.26,68.00,"LW,CAM",Brazil,92,...,60+3,60+3,66+3,61+3,47+3,47+3,47+3,61+3,Neymar,Junior
17944,20801,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,05/02/1985,34,187.96,83.00,"ST,LW",Portugal,94,...,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3,Cristiano,Aveiro

#### Como podemos verificar perdemos muito da nossa base de dados se utilizarmos esse metédo, por conta disso iremos verificar onde estão os dados faltantes e vamos preenche-los da melhor forma possível.

In [260]:
faltantes = base.isnull().sum().sort_values(ascending=False)[:45]

faltantes

national_team             17097
national_jersey_number    17097
national_team_position    17097
national_rating           17097
tags                      16537
traits                     9817
RAM                        2065
LM                         2065
CAM                        2065
RW                         2065
RF                         2065
CF                         2065
LF                         2065
LW                         2065
RS                         2065
ST                         2065
LCM                        2065
CM                         2065
RCM                        2065
RM                         2065
LWB                        2065
LDM                        2065
LS                         2065
CDM                        2065
RDM                        2065
RWB                        2065
LB                         2065
LCB                        2065
CB                         2065
RCB                        2065
RB                         2065
LAM                        2065
club_join_date             1936
release_clause_euro        1837
last_name                   384
contract_end_year           361
value_euro                  255
wage_euro                   246
club_jersey_number           14
club_position                14
club_rating                  14
club_team                    14
penalties                     0
GK_diving                     0
marking                       0
dtype: int64

##### Podemos ver que os dados faltantes são referentes a seleção, posição e clube.
#### Sabendo que nem todos os jogadores vestiram a camisa de suas seleções, nem todos tem uma estimativa para todas as posições
#### e que alguns jogadores ficam sem clube, podemos assumir que esses valores serão zero.

In [261]:
base['national_team'].fillna('Nenhum', inplace = True)
base['national_jersey_number'].fillna('0', inplace = True)
base['national_team_position'].fillna('Nenhuma', inplace = True)
base['national_rating'].fillna('0', inplace = True)
base['tags'].fillna('Nenhuma', inplace = True)
base['traits'].fillna('Nenhuma', inplace = True)

base['RAM'].fillna('0', inplace = True)
base['LM'].fillna('0', inplace = True)
base['CAM'].fillna('0', inplace = True)
base['RW'].fillna('0', inplace = True)
base['RF'].fillna('0', inplace = True)
base['CF'].fillna('0', inplace = True)
base['LF'].fillna('0', inplace = True)
base['LW'].fillna('0', inplace = True)
base['RS'].fillna('0', inplace = True)
base['ST'].fillna('0', inplace = True)
base['LCM'].fillna('0', inplace = True)
base['CM'].fillna('0', inplace = True)
base['RCM'].fillna('0', inplace = True)
base['RM'].fillna('0', inplace = True)
base['LWB'].fillna('0', inplace = True)
base['LDM'].fillna('0', inplace = True)
base['LS'].fillna('0', inplace = True)
base['CDM'].fillna('0', inplace = True)
base['RDM'].fillna('0', inplace = True)
base['RWB'].fillna('0', inplace = True)
base['LB'].fillna('0', inplace = True)
base['LCB'].fillna('0', inplace = True)
base['CB'].fillna('0', inplace = True)
base['RCB'].fillna('0', inplace = True)
base['RB'].fillna('0', inplace = True)
base['LAM'].fillna('0', inplace = True)

base['club_jersey_number'].fillna('0', inplace = True)
base['club_position'].fillna('Nenhuma', inplace = True)
base['club_rating'].fillna('0', inplace = True)
base['club_team'].fillna('Sem clube', inplace = True)


faltantes2 = base.isnull().sum().sort_values(ascending=False)[:10]

faltantes2

club_join_date         1936
release_clause_euro    1837
last_name               384
contract_end_year       361
value_euro              255
wage_euro               246
RB                        0
GK_kicking                0
LW                        0
RS                        0
dtype: int64

#### Agora para os dados faltantes das colunas 'contract_end_year', 'value_euro', 'release_clause_euro' e 'wage_euro' vamos tratar da seguinte forma:
#### Preenchendos com os valores de suas medianas.

In [262]:
release_clause_euro_mediana = base.release_clause_euro.median()
base['release_clause_euro'].fillna(release_clause_euro_mediana, inplace = True)

value_euro_mediana = base.value_euro.median()
base['value_euro'].fillna(value_euro_mediana, inplace = True)

wage_euro_mediana = base.wage_euro.median()
base['wage_euro'].fillna(wage_euro_mediana, inplace = True)

base['contract_end_year'].fillna(2023, inplace = True)

base['club_join_date'].fillna(2018-1-1, inplace = True)

In [263]:
release_clause_euro_mediana

1200000.0

In [264]:
value_euro_mediana

700000.0

In [265]:
wage_euro_mediana

3000.0

In [266]:
base['release_clause_euro'].loc[212]

1200000.0

In [267]:
base['value_euro'].loc[212]

700000.0

In [268]:
base['wage_euro'].loc[212]

3000.0

In [269]:
faltantes3 = base.isnull().sum().sort_values(ascending=False)[:10]

faltantes3

last_name         384
GK_diving           0
RS                  0
ST                  0
LS                  0
traits              0
tags                0
GK_reflexes         0
GK_positioning      0
GK_kicking          0
dtype: int64

#### E para coluna Last_name iremos excluir aqueles que tem esse dado faltante.

In [270]:
base = base.dropna()

base

,id,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,frist_name,last_name
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,24/06/1987,31,170.18,72.10,"CF,RW,ST",Argentina,94,...,61+2,61+2,64+2,59+2,48+2,48+2,48+2,59+2,Lionel,Cuccittini
1,190460,C. Eriksen,Christian Dannemann Eriksen,14/02/1992,27,154.94,76.20,"CAM,RM,CM",Denmark,88,...,71+3,71+3,71+3,66+3,57+3,57+3,57+3,66+3,Christian,Eriksen
2,195864,P. Pogba,Paul Pogba,15/03/1993,25,190.50,83.90,"CM,CAM",France,88,...,77+3,77+3,76+3,74+3,72+3,72+3,72+3,74+3,Paul,Pogba
3,198219,L. Insigne,Lorenzo Insigne,04/06/1991,27,162.56,59.00,"LW,ST",Italy,88,...,58+3,58+3,63+3,58+3,44+3,44+3,44+3,58+3,Lorenzo,Insigne
4,201024,K. Koulibaly,Kalidou Koulibaly,20/06/1991,27,187.96,88.90,CB,Senegal,88,...,77+3,77+3,73+3,76+3,85+3,85+3,85+3,76+3,Kalidou,Koulibaly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,204322,R. McKenzie,Rory McKenzie,07/10/1993,25,175.26,74.80,"RM,CAM,CM",Scotland,67,...,52+2,52+2,53+2,50+2,46+2,46+2,46+2,50+2,Rory,McKenzie
17950,239762,M. Sipľak,Michal Sipľak,02/02/1996,23,182.88,79.80,LB,Slovakia,59,...,55+2,55+2,57+2,57+2,58+2,58+2,58+2,57+2,Michal,Sipľak
17951,235155,J. Bekkema,Jan Bekkema,09/04/1996,22,185.42,89.80,GK,Netherlands,59,...,0,0,0,0,0,0,0,0,Jan,Bekkema
17952,244883,A. Al Yami,Abdulrahman Al Yami,19/06/1997,21,175.26,64.90,"ST,LM",Saudi Arabia,59,...,35+2,35+2,41+2,39+2,32+2,32+2,32+2,39+2,Abdulrahman,Yami
17953,247187,Júnior Brumado,José Francisco dos Santos Júnior,15/05/1999,19,190.50,79.80,ST,Brazil,59,...,40+2,40+2,41+2,40+2,40+2,40+2,40+2,40+2,José,Júnior

#### Agora vamos criar uma coluna com a posição oficial dos jogadores.

In [272]:
base[['posicao_oficial', 'teste']]=base3['positions'].str.split(',', expand=True,n = 1)

base.drop('teste', axis = 1, inplace = True )

base

C:\Users\danii\anaconda3\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
C:\Users\danii\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,id,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,...,RDM,RWB,LB,LCB,CB,RCB,RB,frist_name,last_name,posicao_oficial
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,24/06/1987,31,170.18,72.10,"CF,RW,ST",Argentina,94,...,61+2,64+2,59+2,48+2,48+2,48+2,59+2,Lionel,Cuccittini,CF
1,190460,C. Eriksen,Christian Dannemann Eriksen,14/02/1992,27,154.94,76.20,"CAM,RM,CM",Denmark,88,...,71+3,71+3,66+3,57+3,57+3,57+3,66+3,Christian,Eriksen,CAM
2,195864,P. Pogba,Paul Pogba,15/03/1993,25,190.50,83.90,"CM,CAM",France,88,...,77+3,76+3,74+3,72+3,72+3,72+3,74+3,Paul,Pogba,CM
3,198219,L. Insigne,Lorenzo Insigne,04/06/1991,27,162.56,59.00,"LW,ST",Italy,88,...,58+3,63+3,58+3,44+3,44+3,44+3,58+3,Lorenzo,Insigne,LW
4,201024,K. Koulibaly,Kalidou Koulibaly,20/06/1991,27,187.96,88.90,CB,Senegal,88,...,77+3,73+3,76+3,85+3,85+3,85+3,76+3,Kalidou,Koulibaly,CB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,204322,R. McKenzie,Rory McKenzie,07/10/1993,25,175.26,74.80,"RM,CAM,CM",Scotland,67,...,52+2,53+2,50+2,46+2,46+2,46+2,50+2,Rory,McKenzie,RM
17950,239762,M. Sipľak,Michal Sipľak,02/02/1996,23,182.88,79.80,LB,Slovakia,59,...,55+2,57+2,57+2,58+2,58+2,58+2,57+2,Michal,Sipľak,LB
17951,235155,J. Bekkema,Jan Bekkema,09/04/1996,22,185.42,89.80,GK,Netherlands,59,...,0,0,0,0,0,0,0,Jan,Bekkema,GK
17952,244883,A. Al Yami,Abdulrahman Al Yami,19/06/1997,21,175.26,64.90,"ST,LM",Saudi Arabia,59,...,35+2,41+2,39+2,32+2,32+2,32+2,39+2,Abdulrahman,Yami,ST
17953,247187,Júnior Brumado,José Francisco dos Santos Júnior,15/05/1999,19,190.50,79.80,ST,Brazil,59,...,40+2,41+2,40+2,40+2,40+2,40+2,40+2,José,Júnior,ST

#### Foi notado uma leitura errada em outras plataformas por conta do uso inadequado do float na coluna 'release_clause_euro'. Para corrigir isso transformaremos esses dados em inteiros e retornaremos com eles em float.

In [273]:
base['release_clause_euro'].loc[221]

32200000.000000004

In [274]:
base['release_clause_euro'].dtypes

dtype('float64')

In [275]:
base['release_clause_euro'] = base3['release_clause_euro'].astype('int64')

C:\Users\danii\AppData\Local\Temp/ipykernel_53496/483517709.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base['release_clause_euro'] = base3['release_clause_euro'].astype('int64')

In [276]:
base['release_clause_euro'].dtypes

dtype('int64')

In [280]:
base['release_clause_euro'].loc[221]

32200000.0

In [278]:
base['release_clause_euro'] = base3['release_clause_euro'].astype('float64')

C:\Users\danii\AppData\Local\Temp/ipykernel_53496/338507819.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base['release_clause_euro'] = base3['release_clause_euro'].astype('float64')

In [279]:
base['release_clause_euro'].dtypes

dtype('float64')

In [281]:
base['release_clause_euro'].loc[221]

32200000.0

In [282]:
base.to_csv(r'C:\Users\danii\OneDrive - UNIP\Documents\bkp\ESTUDOS\Projeto.fifa\fifa_cleaned_VFinal.csv')

# Com isso é finalizado a limpeza e organização dos dados.